* {
  margin: 0;
  padding: 0;
}

#indice{
  align-items: center;
}

.indice{
  position: fixed;
  width: 100%;
  display: inline-flex;
  background-color: #000000;
  padding: 10px;
  margin-bottom: 25px;
}

.indice li {
  font-style: italic;
  list-style: none ;
  margin: 10px;
}

.indice li a{
  color: #24C44B;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  text-decoration: none;
  align-items: center;
  margin: 10px;
}


.boasvindas{
  font-size: 2em;
  justify-content: center;
  padding: 75px
}


.myphoto{
  border-radius: 100%;
  border-style:double;
  border-color: black;
  
}

.myname{
  color: #3B3D3D;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold ;
  font-style: oblique;
  ;
}

body{
  /* background-color: black; */
  background-image: -webkit-linear-gradient(#24C44B, #013b10);
  background-image: image();
}

#sobremim{
  text-align: center;
  margin: 100px 20px 20px 20px;
}

#bio{
  margin: 5%;
  display: inline-block;
  text-align:left ;
}



